.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home2 {
  background-image: url("../images/homepage.jpg");
  width: 80vw;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
}
